/* ===== Car Gallery layout ===== */

.gallery-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--spacing-flow);
}


/* ===== Car Gallery cards ===== */


.product-card {
  aspect-ratio: 1 / 1; /* Square cards */
  display: grid;
  grid-template-rows: auto auto minmax(0, clamp(12rem, 40vw, 16rem)) auto; 
  row-gap: 0.2rem; /* px - Reduced spacing between card elements */
  min-height: 0; /* important for grid children */
  min-width: 280px; /* Prevent cards from becoming too small */
  padding: var(--spacing-flow);
}

.product-card .card-media {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
  object-position: center 60%;
  min-height: 0; /* key: lets the image shrink instead of forcing the track */
}

.product-card .card-subtitle {
    text-align: center;
}

/* 2 per row */

@media (min-width: 530px) {
  .gallery-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
    .product-card .card-subtitle {
    text-align: left;
  }

  .product-card .card-title {
    text-align: left;
  }
}


/* 4 per row */
 
@media (min-width: 1200px) { 
    .car-gallery .container {
        max-width: none;
    }
    .gallery-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}
 

 




/* ===== Footer inside Card ===== */

.product-card .card-footer {
    display: flex;
    justify-content: center;
    align-items: center;
     gap: var(--spacing-flow);
}

.product-card .color-dot {
  display: none; /* hidden on mobile */
}


/* Car Color Dots */

/* ===== Car Color options ===== */

.gray {
  background-color: #c5c5c5;
}
.red {
  background-color: #b20000;
}
.blue {
  background-color: #0010a1;
}
.black {
  background-color: #000000;
}
.yellow {
  background-color: #e2c324;
}
.slate-blue {
  background-color: #515f91;
}
.muted-red {
  background-color: #ae3f3f;
}

.color-dot {
    width: 1.65rem; /* 26.4px */
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    border: 2px solid var(--color-text-inverse);
    display: inline-block;
}

@media (min-width: 620px) {

    .product-card .card-footer {
        justify-content: space-between;
    }

    .product-card .color-dots {
        display: flex;
        gap: 0.75rem; /* 12px */
    }

  .product-card .color-dot {
    display: inline-block; /* shown on desktop */     
  }
}