/* Navigation styles */

.header-layout {
    display: grid;
    grid-template-columns: 1fr auto; 
    align-items: center;
    gap: var(--nav-section-gap);
}



/* Primary nav: logo + (desktop) links */

.main-nav {
    display: flex;
    align-items: center;
    gap: var(--nav-section-gap);
}

/* Hide primary menu on mobile */
#primary-menu.main-nav-list {
    display: none;  
}



/* Secondary nav: icons + burger aligned right */

.secondary-nav {
    flex: 0 0 auto; /* prevent shrinking and growing */
    justify-self: end; /* align to right edge of grid cell */
    white-space: nowrap; /* prevent wrapping of icons */
}

.secondary-nav-list {
    display: flex; 
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: var(--nav-section-gap);
}





/* ===== Mobile nav overlay (default) ===== */


/* ===== Desktop nav overlay ===== */

@media (min-width: 550px) {
    /* Show primary menu on desktop */
    #primary-menu.main-nav-list {
        display: flex;
        align-items: center; 
        gap: var(--nav-section-gap);

    }


}
