/* ========== RESET ========== */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ========== BASE & TYPOGRAPHY ========== */

html {
  font-size: 16px;
}

body {
  font-family: var(--font-family-base);
  font-size: var(--font-size-body);
  font-weight: 400;
  line-height: var(--line-height-body);
  color: var(--color-text-primary);
  background-color: var(--color-background-page);
}

.container {
  max-width: 72rem;  /* 1152px */
  margin-inline: auto;
}

/* ========== Typography ========== */


/* .section-title only to be used for the section title, not other subtitles */
.section-title {
  font-family: var(--font-family-heading);
  font-weight: 400;
  line-height: var(--line-height-heading);
}

.card-title {
  font-size: var(--font-size-title);
  font-weight: 400;
  text-align: center;
}

.footer-title {
  font-size: var(--font-size-subheading);
  font-weight: 400;
  line-height: var(--line-height-heading);
  text-align: center;
  margin-bottom: var(--spacing-flow);
}

p {
  font-size: var(--font-size-body);
  line-height: var(--line-height-body);
}

/* ========== Images ========== */

img {
  display: block;
  max-width: 100%;
  height: auto;
}



/* ========== Links ========== */

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:focus-visible {
  outline: 2px solid currentColor;
  outline-offset: 2px;
  text-decoration: underline;
}

/* ========== Icons ========== */

/* Logo, Navbar and Social Media icons */

.icon {
  height: 24px;  
  width: auto;
  display: inline-block;
}


/* Icon-only links */

.icon-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem; /* 8px */
  transition: all var(--transition-speed) var(--transition-timing);
}

/* TODO: ADD CORRECT RULES */

.icon-link img:hover {
  transform: scale(1.1);
}
 
/* TODO: ADD CORRECT RULES */
.icon-link:focus-visible {
  outline: 2px solid var(--white);
  outline-offset: 2px;
}




/* ========== Spacing - General ========== */

.gutter {
  padding-inline: var(--spacing-page);
} 

.stack > * + * {
  margin-top: var(--spacing-flow);
}

.section {
  padding-block: var(--spacing-section);
}

.section-tight {
  padding-block: var(--spacing-section-tight);
}
