/* ========== RESET ========== */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ========== BASE & TYPOGRAPHY ========== */

html {
  font-size: 16px;
}

body {
  font-family: var(--font-family-base);
  font-size: var(--font-size-body);
  line-height: var(--line-height-body);
  color: var(--color-text-primary);
  background-color: var(--color-background-page);
}


/* ========== Links ========== */

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:focus-visible {
  outline: 2px solid currentColor;
  outline-offset: 2px;
  text-decoration: underline;
}

/* ========== Icons ========== */

/* Logo, Navbar and Social Media icons */

.icon {
  height: 24px;  width: auto;
  display: inline-block;
}


/* Icon-only links */

.icon-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem; /* 8px */
  transition: all var(--transition-speed) var(--transition-timing);
}

/* TODO: ADD CORRECT RULES */

.icon-link img:hover {
  transform: scale(1.1);
}
 
/* TODO: ADD CORRECT RULES */
.icon-link:focus-visible {
  outline: 2px solid var(--white);
  outline-offset: 2px;
}




